* {
box-sizing: border-box
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 190px) 
and (max-device-width : 530px) {
body{
max-width: 767px;
height: 224px;
}
.alert-info {
    margin: 5px;
    background-color: rgba(142, 254, 254, 0.836);
    text-align:center
}
div>a {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
    margin: 3px 0 6px 0;
}
ul {
    padding: 0%;
    text-align: center;
    
}
li>a {
    display: block;
    margin: 5px;
    padding: 5px 0;
    background-color: lightgray;
    color: blue;

}
/* .header-img {
    width: 100%;
   
} */
img {
    margin: 5px;
    background-color: white;
    max-width: 98%;
    height: 224px;
}
#main {
    margin: 5px;
}
.sub-section {
    margin: 5px;
}
footer {
    border: 2px red dashed;
}
footer>p {
    border: 2px green dashed;
    display: inline-block;
    width: 49%;
    font-size: 0.9em;
    margin-top: 15%;
}
#social-media-links {
    border: 2px blue dashed;
    display: inline-block;
    width: 49%;
    /* margin-left: 50%; */
    
}
#facebook {
    margin-left: 70%;
}
}
 @media only screen 
and (min-device-width : 531px) {

   body {
    background-color: green;
   }

}
