* {
box-sizing: border-box
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 190px) 
and (max-device-width : 530px) {
body{
max-width: 767px;
height: 224px;
}
.alert-info {
    margin: 5px;
    background-color: rgba(142, 254, 254, 0.836);
    text-align:center
}
div>a {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
    margin: 3px 0 6px 0;
}
ul {
    padding: 0%;
    text-align: center;
    
}
li>a {
    display: block;
    margin: 5px;
    padding: 5px 0;
    background-color: lightgray;
    color: blue;

}
/* .header-img {
    width: 100%;
   
} */
img {
    margin: 5px;
    background-color: white;
    max-width: 98%;
    height: 224px;
}
#main {
    margin: 5px;
}
.sub-section {
    margin: 5px;
}
footer>p {
    display: inline-block;
    width: 49%;
    font-size: 0.9em;
    margin-top: 15%;
}
#social-media-links {
    display: inline-block;
    width: 49%;
    
}
#facebook {
    margin-left: 70%;
}
/* For Desktops */
}
 @media only screen 
and (min-device-width : 531px) {

   /* body {
    background-color: yellow;
   } */
   /* CSS custom borders */
   /* h1, div, section, footer {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='red' stroke-width='2' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
   } */
   .hidden-on-desktop {
    display: none;
    /* visibility: hidden; */
   }
   ul {
    position: absolute;
    top: 16px;
    right: 10px;
   }
    ul>li{
        float: right;
        font-size: small;
        display: inline;
        padding: 5px;
    }
    img {
        background-color: white;
        max-width:100%;
        height: 304px;
        }
    .main {
        display: inline-block;
        width: 49%;
    }
    .sub-section {
        display: inline-block;
        width: 49%;
    }
    footer>p {
        display: inline-block;
        width: 49%;
        margin-top: 15%;
    }
    #social-media-links {
        display: inline-block;
        width: 49%;
        
    }
    #facebook {
        margin-left: 70%;
    }
}
