* {
    box-sizing: border-box;
}
div {
    display: flex;
    flex-direction: column;
}
.text {
    border: 2px dashed red;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: flex-end;
}