* {
    box-sizing: border-box;
}
div {
    display: flex;
    flex-direction: column;
}
section {
    border: 2px dashed red;
    display: flex;
    margin: 10px;
    height: 100%;
    width: 100%;
    justify-content: space-between; 
    align-items: flex-start;

}
p {
    height: 60px;
    margin: 0;
    background: chartreuse;
  
}
p:nth-child(3) {
    align-self: center;
    background: blueviolet;
}