*{
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

body{
    margin: 0;
    background: radial-gradient(#9D5900, #3D2200);
}

.page-title{
    color: #ff6d00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: normal;
    text-align: center;
    font-size: 4em;
}

.game-info-container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info{
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    font-size: 4em;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card{
    background-color: black;
    height: 175px;
    width: 125px;
    border-radius: 5%;
    margin: 3px;
    position: relative;
}

.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
}

.card.visible .card-back{
    transform: rotateY(-180deg);
}
    
.card.visible .card-front{
    transform: rotateY(0);
}

.card-back{
    background-color: black;
    border-color: #ff6d00;
}

.card-front{
    background-color: bisque;
    border-color: #ff6d00;
    transform: rotateY(180deg);
}

.back-image{
    width: 8em;
    height: 11em;
    object-fit: cover;
    border-radius: 5%;
}

.card-value{
    position: absolute;
    width: 47px;
    height: 47px;
}

.card-value-top-right{
top: 0;
right: 0;
}

.card-value-top-left{
    top: 0;
    left: 0;
}

.card-value-bottom-left{
    bottom: 0;
    left: 0;
}

.card-value-bottom-right{
    bottom: 0;
    right: 0;
}

.suit{
    align-self: center;
}

.overlay-text{
display: none;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
justify-content: center;
align-items: center;
z-index: 100;
color: #ff6d00;
font-family: sans-serif;
}

.overlay-text-small{
font-size: .3em;
}

.overlay-text.visible{
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow{
    from{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to{
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }
}

@media(max-width: 600px){
    .game-container{
        grid-template-columns: repeat(2,auto);
    }
    .game-info-container{
        flex-direction: column;
        align-items: center;
    }
}